<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<!-- Navigation Bar, only contains title of page and login button-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{url_for('showBrands')}}">Shoe Catalog </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <a href= "{{url_for('gdisconnect')}}"" class="btn btn-primary" role = "button">Logout</a>
  </div>
</nav>

<body>  


<!-- GOOGLE PLUS SIGN IN-->

          
    <div id="signinButton">
      <div class = "container">
        <div class = "row">
      
        <div class="col-3"></div>
        <!-- Allows user to login using google sign in-->
        <div class="col-6 text-center">
          <div class="card" >
            <div class="card-body">
              <h3>Login Using Google</h3>
                <span class="g-signin"
                data-scope="openid email"
                data-clientid="601372365987-jhpab9fockglkm6ljsjprva0mmphmthd.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
            </div>
          </div>
        </div>
        <div class="col-3"></div> 
      </div>
           

    </div>
     
    </div>

<div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful! Redirecting...')
         setTimeout(function() {
          window.location.href = "/brands";
         }, 4000);
          
      } else if (authResult['error']) {
    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  }); } }
</script>



<!--END GOOGLE PLUS SIGN IN -->

</body>



</html>