<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<!-- Navigation Bar, only contains title of page and login button-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{url_for('showBrands')}}">Shoe Catalog </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <a href= "{{url_for('gdisconnect')}}"" class="btn btn-primary" role = "button">Logout</a>
  </div>
</nav>


<body>
	<br>
	<div class = "container">
		<div class = "row">
			
		<div class="col-3"></div>
		<!-- Allows user to enter specific user information-->
		<div class="col-6 text-center">
			<div class="card" >
			  <div class="card-body">
			  	<h3>Enter a Shoe Information</h3>
			    <form action="{{url_for('newShoe', brand_id = brand_id)}}" method="POST">
				<p>Name</p>
					<input type="text" name="name">

				<p>Color:</p>
					<input type="text" name="color">

				<p>Price:</p>
					<input type="text" name="price" >

				<p>Resell Price:</p>
					<input type="text" name="resell_price" >

				<p>Condition:</p>
					<input type="text" name="condition">
				<br> <br>
				<input class = "btn btn-primary" type="submit" value = "Create">
	</form>

	<a href="{{url_for('showModels', brand_id = brand_id)}}">Cancel</a>
			  </div>
			</div>

		</div>
		<div class="col-3"></div>	


		</div>
	</div>



	


</body>



	<!-- Bootstrap JS and jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>